*#*
*~*
G*
*.orig
*.rej
target
.project
.classpath
.settings
.idea
*.iml
core/.gitignore
examples/.gitignore
examples/forwarding-service.spvchain
examples/forwarding-service.wallet
tools/.gitignore
nohup.out